@import "../../styles/_variables.scss";

.emptyCart {
  button {
    transition: background 0.2s ease-in-out;

    &:hover {
      background-color: $secondary-color !important;
      border-color: $secondary-color !important;
    }
  }
}
