// $secondary-color: #007bff;
// $accent-color: #ffc107;
// $primary-color: #8e44ad;
// $background-color: #f8f9fa;
// $text-color: #343a40;

$secondary-color: #d3774d;
$accent-color: #f2b90f;
$primary-color: #730202;
$background-color: #f8f2eb;
$text-color: #231814;
