$secondary-color: #d3774d;
$accent-color: #f2b90f;
$primary-color: #730202;
$background-color: #f8f2eb;
$text-color: #231814;

$alert-success-bg: $accent-color;
$alert-success-text: $text-color;
$alert-success-border: darken($secondary-color, 10%);
