@import "../styles/_variables.scss";

.checkoutButton {
  border: $primary-color !important;
}

.checkoutButton:hover {
  background-color: $secondary-color !important;
}

.summary {
  max-width: 600px;
}
