@import "../styles/_variables.scss";

.cartItem {
  max-width: 600px;
}

.imageContainer {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 8px;
}

.imageContainer img {
  object-fit: cover;
}

.controls button {
  padding: 0px 13px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 15px;
  // cursor: pointer;
  transition: background 0.2s ease;
}

.controls button:hover {
  background-color: #ddd;
}

.deleteIcon {
  margin-left: 10px;
  color: $text-color;
  cursor: pointer;
  transition: color 0.2s ease;
}

.deleteIcon:hover {
  color: $secondary-color;
}
