@import "../styles/_variables.scss";

.footer {
  background-color: $primary-color;
  color: white;
  text-align: center;
  font-family: "syncopate", sans-serif;
  padding: 30px;
  transition: background-color 0.3s;
}

.footer:hover {
  background-color: $secondary-color;
}
