@import "../styles/_variables.scss";

.syncopate {
  font-family: "Syncopate", sans-serif !important;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.fixedImage {
  height: 300px;
  object-fit: cover;
}

.productCard {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
}

.discountBadge {
  font-size: 15px;
  color: white;
  border-radius: 4px;
  min-height: 24px;
  display: flex;
  align-items: center;
}

.productTitle {
  font-size: 16px;
  font-weight: 600;
  min-height: 40px;
  display: flex;
  align-items: center;
}

.productPrice {
  font-size: 14px;
  min-height: 65px;
}

.stars {
  color: $accent-color;
}

.ratingContainer {
  min-height: 30px;
  display: flex;
  margin-top: auto;
}

.viewProductBtn {
  background-color: $primary-color !important;
  border-color: $primary-color !important;

  &:hover {
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
  }
}
