@import "../styles/_variables.scss";

.fixedImage {
  height: 300px;
  object-fit: cover;
}

.productCard {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  }
}

.productTitle {
  font-weight: 600;
  min-height: 40px;
}

.productPrice {
  min-height: 65px;
}

.ratingContainer {
  min-height: 30px;
}

.viewProductBtn:hover {
  background-color: $secondary-color !important;
  border-color: $secondary-color !important;
}
