@import "../styles/_variables.scss";

.searchContainer {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  padding: 0 10px;
}

.searchInput {
  height: 50px;
  font-size: 1rem;
  border-radius: 8px 0 0 8px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
}

.searchInput::placeholder {
  font-family: "Poppins", sans-serif !important;
}

.searchButton {
  border-radius: 0 8px 8px 0;
  background-color: $primary-color !important;
  border-color: $primary-color !important;

  &:hover {
    background-color: $secondary-color !important;
    border-color: $secondary-color !important;
  }
}

.resultsContainer {
  font-family: "Poppins", sans-serif;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;

  .dropdown-item {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
  }
}
