@import "../styles/_variables.scss";

.productContainer {
  width: 100%;
  max-width: 800px;
  margin: 50px auto 20px auto;
}

.productGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
